@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Dela+Gothic+One&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');
:root{
    --bg1:#151828;
    --bg2:#1B1F34;
    --body:#959DCC;
    --brand:#FFAB76;
    --white:#fff;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);
    box-sizing: border-box;
}
.backround-navbar{
    background-color: #FFAB76;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
img{
    width: 100%;
}

section{
    padding-top: 10rem;
    padding-bottom: 10rem;
}

/*! HOME */

/** NAVBARstart */
.navbar{
    background:linear-gradient(to bottom, #1B1F34, rgba(27,31,52,0.2))
}

.navbar-brand{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
/** NAVBARend */


/** HEROstart */
#hero{
    background:linear-gradient(to right, #1B1F34, rgba(27,31,52,0.0)),url(/images/cover_1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

/** HEROend */


/** BTNstart */

.btn{
    padding: 1rem 2rem;
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s ease;
}

.btn-brand{
    background-color: var(--brand);
}
.btn-brand:hover{
    background-color: transparent;
    color: var(--white);
}

.btn-outline-brand{
    color: var(--brand);
}
.btn-outline-brand:hover{
    color: white;
}
/** BTNend */

/** ABOUTstart */
#about h1{
    margin-top:1rem;
    margin-bottom: 1.5rem;
}
#about{
    position: relative;
}
#about::after{
    content: "";
    width: 25%;
    height: 100%;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
/** ABOUTend */


/** FOOTERstart */
footer{
    padding-top: 10rem;
}

.social-links a{
    color: #FFAB76;
    margin-right: 1.25rem;
}
.github-link{
    color: #959DCC;
}
.footer-top{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-top: .0625rem solid var(--brand);
}
.footer-bottom{
    display: flex;
    text-align: end;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-top: .0625rem solid var(--brand);
}
/** FOOTERend */


/*! LOGIN */
.login-form-style{
padding-top: 10rem;
}

#button-for-login{
    background-color: var(--brand);
    color: #1B1F34;
}
#button-for-login:hover{
    background-color: transparent;
    color: var(--white);
}
